<div class="container-fluid align-items-center">
  <div class="row" id="img-bg">
    <div class="col-md-6" >
      <img src="https://raw.githubusercontent.com/DozeroHub/Projeto_Integrador_Generation/main/Documenta%C3%A7%C3%A3o/Logotipo-Design-02.png" alt="DozeroHub" width="800px" class="img-fluid rounded mx-auto d-block" id="imagem">
      <h2>Um site </h2>
    </div>
    <div class="teste">
    <div class="col-md-6 mt-5 mb-5" class = "login">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10" >
          <img src="../../assets/Group.png" alt="Imagem de login" class="img-fluid" id="imglogin">
          <div class="form-group mt-3">
            <label for="usuario">Usuario</label>
            <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
          </div>
          <div class="form-group mt-3">
            <label for="senha">Senha</label>
            <input class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-success">Login</button>
          </div>
          <hr class="mt-5 mb-5">
          <p class = "text-center">Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

